/* TOP MOST - Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100..1000&family=Playfair+Display:wght@400..900&display=swap');

/* Then Tailwind imports */
@import "tailwindcss";

/* Then theme variables */
@theme {
  --font-playfair: "Playfair Display", sans-serif;
  --font-dmsans: "DM Sans", sans-serif;
  --color-gray-custom: #474747;
  --color-red-custom: #AD343E;
  --color-brown-custom: #2C2F24;
}

/* Then normal CSS */
html {
  scrollbar-width: none;
  -ms-overflow-style: none; 
  scroll-behavior: smooth;
  background-color: #f3f3ea;
  font-family: playfair;
}
body {
  font-family: dmsans;
}

/* hide scrollbar but keep scroll working */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}

.transparentbutton{
    @apply 
   w-auto 
   p-3 
   px-6 
   font-dmsans
   text-sm 
   font-semibold 
   border 
   rounded-full
   cursor-pointer
   hover:bg-[#eff0ec]
   max-sm:p-3
   max-sm:text-xs 

}

.redbutton{
  @apply  w-auto 
          p-3 
          px-6
          font-dmsans 
          text-sm 
          font-semibold 
          rounded-full 
        bg-red-custom
        text-white 
          cursor-pointer 
        hover:bg-[#8B2A33]
          max-sm:p-3
          max-sm:text-xs 

}

